@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .scrollbar ::-webkit-scrollbar {
  width: 0px;
} */

.scrollbar {
  overflow: auto; /* Ensures the element can scroll if needed */
}

.scrollbar::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar for vertical scroll */
  height: 0; /* Hide the scrollbar for horizontal scroll */
}

.scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}